*,
*:before,
*:after {
	box-sizing: inherit
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.page,
.page__body {
	width: 100%;
	height: 100%;
}

.page__body {
	margin: 0;
	font-family: Montserrat;
	position: relative;
}

.page__body.dis-scroll {
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	overscroll-behavior: none;
}