.header {
    width: 100%;
    position: relative;
    background-color: #b2b6b1;
    box-shadow: 1px 1px 1px #000;
}

.header_fixed {
    position: fixed;
    top: 0 !important;
    left: 0;
    right: 0;
    /* animation: header-fixed-anim 0.5s ease 0s 1 alternate forwards; */
}

@keyframes header-fixed-anim {
    0% {transform: translateY(-100%);
        
    }
    100% {
        transform: translateY(0);
    }
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.header__container::before {
    content: "";
    position: absolute;
    z-index: 102;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #b2b6b1;
}

@media(min-width:768px) {
    .header__container::before {
        display: none;
    }
}

.header__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #0000003d;
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.header_active .header__overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}