.header {
    width: 100%;
    position: relative;
    padding: 20px 0;
    background-color: #3ee207;
}

.header[data-fixed-block] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header_fixed-anim {
    animation: header-fixed-anim 0.5s ease 0s 1 alternate forwards;
}

@keyframes header-fixed-anim {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.header::before {
    content: "";
    position: absolute;
    z-index: 102;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    background-color: #3ee207;
}

@media(min-width:768px) {
    .header::before {
        display: none;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

